<section class="py-2">
    <div class="row">
        <div class="col-md-7 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Web Developement E-Book
            </h1>
            <p class="lead">Learn Stripe Payment Gateway</p>
            <div class="col-md-5">
                <form action="/charge" method="POST">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_u0QEvaaKbiYFu8yVUC6a5e2N" data-amount="2500"
                        data-name="Web Development Ebook" data-description="Ebook written by Abhishek" data-locale="auto">
                        </script>
                </form>
            </div>
        </div>
    </div>
</section>